[Unit]
Description=ct daemon
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/ct ports

[Install]
WantedBy=multi-user.target
