Source: ct
Section: unknown
Priority: optional
Maintainer: Matthieu Bollot <m.bollot@code-troopers.com>
Build-Depends: debhelper (>= 9), dh-systemd
Standards-Version: 3.9.5
Homepage: https://github.com/code-troopers/ct

Package: ct
Architecture: all
Depends: ${misc:Depends}
Description: CLI helper Tool: command line project manager
